@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">La discografía</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<table>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Images/img1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Álbunes</h5>
                    <p class="card-text">Consulta la collección de álbunes de nuestro catálogo</p>
                    <a asp-area="" asp-controller="Albums" asp-action="Index" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Images/img2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Artistas</h5>
                    <p class="card-text">Conoce a los mejores artistas del panoráma musical actual.</p>
                    <a asp-area="" asp-controller="Artists" asp-action="Index" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </td>
    </tr>
</table>
